name: Build, Test, Changelog, and Release Python Package

on:
  push:
    branches:
      - main

jobs:
  unit-tests:
    name: Build and Test Python Package
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.5" # pin a specific version is best practice
          enable-cache: true

      # install python in 
      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Run tests
        # For example, using `pytest`
        run: uv run pytest tests

  build-and-release:
    name: Generate Changelog and Release
    runs-on: ubuntu-latest
    needs: unit-tests  # This makes sure the build job runs first

    steps:
      # Checkout the code
      - uses: actions/checkout@v4

      # Generate changelog
      - name: Conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@v3
        with:
          github-token: ${{ secrets.github_token }}
          create-summary: true

      # Only create a release if the changelog was generated successfully
      - name: Create GitHub release
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        uses: actions/create-release@v1
        with:
          tag_name: ${{ steps.changelog.outputs.tag }}
          release_name: ${{ steps.changelog.outputs.tag }}
          body: ${{ steps.changelog.outputs.clean_changelog }}
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
      
      - name: Set up uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Build package
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        run: |
          # VERSION=$(uvx dunamai from any --no-metadata --style pep440)
          VERSION=$(uvx dunamai from any --no-metadata --style pep440 | sed -E 's/\.post[0-9]+\.dev[0-9]+//')
          echo $VERSION
          uvx --from=toml-cli toml set --toml-path=pyproject.toml project.version $VERSION
          uv build

      # Attach the build assets to the GitHub release (only if changelog creation was successful)
      - name: Upload sdist to GitHub release
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        run: gh release upload $TAG $FILES --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ steps.changelog.outputs.tag }}
          FILES: dist/*.tar.gz dist/*.whl
      
      - name: Push Files for GitHub Action
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        run: |
          git config user.name "Your GitHub Actions Bot"
          git config user.email "your-email@example.com"
          git add .
          git commit -m "Build package and update version"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

